{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Author</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        <button type="submit">Update</button>
    {{ form_end(form) }}
{% endblock %}
